/* BASIC STYLES HERE */
p {
  margin: 0;
}


#vendingMachine img {
  height: 20dvh;
  width: 100%;
  object-fit: cover;
}

.cash {
  color: green;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.cashPlus {
  color: black;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  border-radius: 2rem;
}

.cashPlus:hover {
  color: green;
}

.qty {
  border-radius: 10px;
  background-color: #123456b0;
}